@charset "utf-8";
/* CSS Document */
/* css 初始化 */
/* 1.清除浏览器默认样式 */ 

*{margin:0;padding:0;}
/* 2.针对性处理 */
ol,ul{ list-style:none;}
textarea{ resize:none;}
img{ border:none; display:block;/*img底部空白*/}
input,area{ outline:none;border:0 none;}        /* 谷歌浏览器表单元素外框 */
em,i{font-style:normal;}
/* 3.设置全局样式 */
body{ color:#212121; font-size:14px; font-family:"微软雅黑";}
a{color:#fff; text-decoration:none;}
input{font-family:"微软雅黑";}
label{cursor:pointer;}
/*定义常用类*/
.clearfix:after,.clearfix:before{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.w{width:1190px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
/*===================*/
.matter_wap{  
  float: left;
  margin-top: 20px;
  width: 1000px;}
.matter_wap .right_centent {
  float: right;
  width: 780px;
  background: #fff;
  border: 1px solid #ccc;
}

select{border: 1px solid #bfbfbf;font-family: "微软雅黑";}
/*面包屑*/
.sort{margin: 15px 0 30px 15px;}
.sort a{display: inline-block;width: 80px;height: 30px;line-height: 30px;background: #9f9f9f;text-align: center;}
.sort a:nth-last-of-type(1){background: red;}